.scroll-tracker {
  background: var(--name-font-color);
  inset: 0 auto 0 0;
  margin-bottom: 380px;
  margin-left: 2%;
  margin-top: 18%;
  position: absolute;
  transform-origin: top;
  width: 0.5rem;
  z-index: 0.5;
}

@media (max-width: 922px) {
}
@media (max-width: 768px) {
  .scroll-tracker {
    display: none;
  }
}
@media (max-width: 500px) {
  .scroll-tracker {
    display: none;
  }
}
