@import "./nav.css";
@import "./scroll-tracker.css";
@import "./hero.css";
@import "./email-aside.css";
@import "./about.css";
@import "./skills.css";
@import "./academic.css";
@import "./experience.css";
@import "./contacto.css";
@import "./footer.css";

@media (max-width:922px) {

}
@media (max-width:768px) {
  .tudo {
    margin-top: 145px;
  }
  
}
@media (max-width:500px) {
  .tudo {
    margin-top: 145px;
  }
  
}



/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Raleway:wght@900&display=swap"); */
/*CSS Reset / Normalize*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* Scrollbar Styles */
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #01010f;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border: 3px solid none;
  border-radius: 10px;
}

body {
  box-sizing: border-box;
  background: var(--secondary-color);
  color: var(--primary-font-color);
  font-family: "Poppins", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM.

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

/*Scroll Tracker*/

/*Sección Title*/

/*Sección About*/

/*Email Aside*/

/*Sección Skills*/

/* Experiencia Académica*/

/* experiencia*/

/* Contacto */

/*footeer*/


/* Noise Effect*/

.noise__effect {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.noise__effect:after {
  animation: grain 0.5s steps(1) infinite;
  background-image: url("/assets/noise.png");
  content: "";
  height: 300%;
  left: -50%;
  position: fixed;
  top: -110%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

@media (max-width: 922px) {
    /* Menú */

  /*title*/

  /*Email Aside*/

  /* About */

  /*Skills*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /* Contacto */


}

/*Tablet*/
@media (max-width: 768px) {
  /* Main */
    /*Scroll Tracker*/

  /* Menú */

  /*title*/

  /*Email Aside*/

  /* About */

  /*Skills*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /* Contacto */

}

/*Mobile*/
@media (max-width: 500px) {
  /*Menu*/

  /* Email List Button */

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}





