@import "./root.css";
@import "./nav.css";
@import "./scroll-tracker.css";
@import "./hero.css";
@import "./email-aside.css";
@import "./about.css";
@import "./skills.css";
@import "./academic.css";
@import "./experience.css";
@import "./contacto.css";
@import "./footer.css";


@media (max-width:922px) {

}
@media (max-width:768px) {
  .tudo {
    margin-top: 145px;
  }
  
}
@media (max-width:500px) {
  .tudo {
    margin-top: 145px;
  }
  
}

/*CSS Reset / Normalize*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* Scrollbar Styles */
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #01010f;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border: 3px solid none;
  border-radius: 10px;
}

body {
  box-sizing: border-box;
  background: var(--secondary-color);
  color: var(--primary-font-color);
  font-family: "Poppins", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}
